@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: thin;
}

a,
img,
button {
    user-select: none;
    text-decoration: none;
}

:root {
    --bg-full-dark: #1E1E1E;
    --bg-object-dark: #292929;
    --bg-object-darker: #434343;

    --bg-full: #F5F5F5;
    --bg-object: #dfdfdf;

    --primary: #f08959;
    --primary-dark: #c36a41;

    scrollbar-width: thin;
    background-color: var(--bg-full);
}

.scrollable {
    --track-color: rgba(160, 160, 160, 0.5);

    overflow-y: auto;
    scrollbar-color: var(--track-color) transparent;
}
.scrollable::-webkit-scrollbar-thumb:vertical {
    background-color: var(--track-color);
}